{:source-paths ["src" "scripts"]
 :dev-http     {9000 "public"}
 :builds       {:app {:target     :browser
                      :output-dir "public/js"
                      :asset-path "js"
                      :build-hooks [(build-hooks/setup)]
                      :modules    {:main {:entries [client.core]}}}}}